@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url('https://static.vecteezy.com/system/resources/previews/010/994/363/non_2x/premier-league-logo-symbol-with-name-black-design-england-football-european-countries-football-teams-illustration-with-white-background-free-vector.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    position: relative; /* Ensure z-index works */
}





.premier-league-background {
    background-image: url('https://wallpapercave.com/wp/wp1830649.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}


/* About page background */
.about-background {
    background-image: url('https://i2-prod.chroniclelive.co.uk/incoming/article18231466.ece/ALTERNATES/s615/1_GettyImages-1179355141.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

/* Contact page background */
.contact-background {
    background-image: url('https://www.toyotacenter.com/assets/img/Contact-Us-Slide-ec3f1bd0fd.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.bg-gray-800 {
    --bg-opacity: 1;
    background-color: #000000;
    background-color: rgb(24, 233, 226(--bg-opacity));
}

