@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url('https://wallpapercave.com/wp/wp1830658.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    position: relative; /* Ensure z-index works */
}





.premier-league-background {
    background-image: url('https://wallpapercave.com/wp/wp1830649.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}


/* About page background */
.about-background {
    background-image: url('https://wallpapercave.com/wp/wp1830675.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

/* Contact page background */
.contact-background {
    background-image: url('https://wallpapercave.com/wp/wp1830686.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.bg-gray-800 {
    --bg-opacity: 1;
    background-color: #4a0867;
    background-color: rgb(24, 233, 226(--bg-opacity));
}